/* Inizio regole generali */
body {
  padding-top: 70px;
}
/* Fine regole generali */

/* Inizio regole componenti */
.ms_section {
  padding: 32px 0;
}
.ms_section_primary {
  background-color: #1abc9c;
  color: #fff;
}
.ms_section_secondary {
  color: #2c3e50;
}
.ms_section-secondary .ms-section-title {
  color: #333;
}
.ms_divider {
  margin-bottom: 20px;
}
.ms_divider hr {
  display: inline-block;
  width: 100px;
  border: 2px solid white;
  vertical-align: middle;
  margin: 0 15px;
  border-radius: 5px;
}

/* Fine regole componenti */

/* Inizio navigazione */
.ms_navbar {
  background-color: #2c3e50;
  height: 70px;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 15px;
}
.ms_navbar a {
  color: white;
}
/* Fine navigazione */

/* Inizio sezioni main */
/* Jumbotron */
.ms_avatar img {
  height: 200px;
}

.ms-portfolio {
  text-align: center;
}
.ms-portfolio-item {
  background-color: #ba4b63;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.ms-wrapper {
  width: 60%;
  margin: 0 auto;
}
/* Fine sezioni main */

/* Footer */
.ms-footer-top {
  background-color: #3a546d;
  color: white;
}
.ms-footer-top span {
  color: #1abc9c;
}
.ms-footer-top i {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 20px;
}
.ms-footer-bottom {
  background-color: #2c3e50;
  color: #fff;
  height: 70px;
}
.ms-footer-bottom p {
  line-height: 70px;
}
